{% extends 'templates/app.twig' %}

{% block content %}
<div class="row">
    
    <div class="page-header">
        <h1>{{user.name}}</h1>
    </div>
    <small><strong>{{user.email}}</strong></small>
    <p>{{user.about}}</p>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Permissions</div>
            <div class="panel-body">
                <ul>
                {% for userPermission in user.getPermissions() %}
                <li>{{ userPermission }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <br>
    <a href="{{path_for('user')}}" class="btn btn-primary">Back</a>
</div>
{% endblock %}
